<ul>
  <li>
    <h2>必須</h2>
    <div>
      <p>重要だし緊急なものたち</p>
      <span *ngFor="let task of resTasks">
        <div id={{task.id}} *ngIf="task.quadrant==1&&!task.completeFlag">
          <button (click)="checkTask(task.id)">完了する</button>
          <input type="text" [(ngModel)]="task.name" *ngIf="isOpen && focusTaskId==task.id" (blur)="editTask(task)">
          <p *ngIf="focusTaskId!=task.id" (click)="swich(task.id)">{{task.name}}</p>
        </div>
      </span>
    </div>
  </li>
  <li>
    <h2>必要</h2>
    <div>
      <p>重要だけれど緊急ではないものたち</p>
      <span *ngFor="let task of resTasks">
        <div id={{task.id}} *ngIf="task.quadrant==2">
          <button (click)=checkTask(task.id)>完了する</button>
          <input type="text" [(ngModel)]="task.name" *ngIf="isOpen && focusTaskId==task.id" (blur)="editTask(task)">
          <p *ngIf="focusTaskId!=task.id" (click)="swich(task.id)">{{task.name}}</p>
        </div>
      </span>
    </div>
  </li>
  <li>
    <h2>錯覚</h2>
    <div>
      <p>重要ではないけれど緊急なものたち</p>
      <span *ngFor="let task of resTasks">
        <div id={{task.id}} *ngIf="task.quadrant==3">
          <button (click)=checkTask(task.id)>完了する</button>
          <input type="text" [(ngModel)]="task.name" *ngIf="isOpen && focusTaskId==task.id" (blur)="editTask(task)">
          <p *ngIf="focusTaskId!=task.id" (click)="swich(task.id)">{{task.name}}</p>
        </div>
      </span>
    </div>
  </li>
  <li>
    <h2>無駄</h2>
    <div>
      <p>重要でもないし緊急でもない無駄なものたち</p>
      <span *ngFor="let task of resTasks">
        <div id={{task.id}} *ngIf="task.quadrant==4">
          <button (click)=checkTask(task.id)>完了する</button>
          <input type="text" [(ngModel)]="task.name" *ngIf="isOpen && focusTaskId==task.id" (blur)="editTask(task)">
          <p *ngIf="focusTaskId!=task.id" (click)="swich(task.id)">{{task.name}}</p>
        </div>
      </span>
    </div>
  </li>
</ul>
